/vendor/
/node_modules/
.env
.env.*
.DS_Store
/storage/*.key
/public/storage
/storage/*.sqlite
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.log
*.sql
*.sqlite
/.phpunit.cache
.phpstorm.meta.php
_ide_helper.php
/.php-version